<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Dashboard</h2>

        <div class="card">
           <h3>⚖️ BMI</h3>
           <p>Body Mass Index</p>
            <a href="/bmi"><button>Open</button></a>
        </div>


        <div class="card">
            <h3> 🍎Calorie Calculator</h3>
            <p>Estimate your daily calorie needs</p>
            <a href="/calorie"><button>Open</button></a>
        </div>

        <div class="card">
            <h3> 💧Water Intake</h3>
            <p>Know how much water you should drink daily</p>
            <a href="/water"><button>Open</button></a>
        </div>
        <div class="card">
            <h3> ⚽Ideal Weight</h3>
            <p>Check your healthy weight range</p>
            <a href="/ideal-weight"><button>Go</button></a>
        </div>
        <div class="card">
            <h3> 😴Sleep Analysis</h3>
            <p>Check sleep quality & stress impact</p>
            <a href="/sleep"><button>Go</button></a>
        </div>
        <div class="card">
            <h3>🏋️Football Recovery</h3>
            <p>Training load & injury risk check</p>
            <a href="/recovery"><button>Go</button></a>
            

        </div>

        <div class="card">
              <h3> 🔥Match Fitness</h3>
              <p>Check match-day readiness</p>
              <a href="/match-fitness"><button>Go</button></a>
        </div>
        
        <div class="card">
            <h3>📈 Training Load</h3>
            <p>Fatigue & injury risk check</p>
             <a href="/training_load"><button>Open</button></a>
        </div>
        <div class="card">
            <h3> 🥗Diet Plan</h3>
            <p>Personalized nutrition plan</p>
            <a href="/diet"><button>View</button></a>
        </div>
    <div class="card">
    <h3>🍽️ Food Image Calorie Prediction</h3>
    <p>Predict calories from food image</p>
    <a href="/image-calorie">
        <button class="btn">Open</button>
    </a>
</div>


    

        





    </div>
</body>
</html>
